.panel {

  p {
    margin-top: 9%;
  }

  .panel-heading {
    background: #456fb2;
    color: #e6ebf4;
  }

  img {
    margin: 5px 0px 5px 0px;
    height: 225px;
    width: 235px;
  }
}

.well {
  margin-top: 2%;

  .paragraph {
    margin: 3.5%;
  }

  img {
    height: 150px;
    width: 175px;
  }
}
